html, body{
    margin: 0;
}

.header{
    margin-top: 50px;
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 120px;
    justify-content: center;
}

.header-title{
    width: 500px;
    height: 120px;

}

#gamesboard-container{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
}

@media (min-width: 750px) {
    #gamesboard-container{
        flex-direction: row;
    }
}

.versus{
    position: absolute;
    color: bisque;
    font-size: 70px;
    align-self: center;
}

.button--setting{
    border-color: black;
    border-width: 10px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    align-content: center;
    transition: opacity ease 0.2s;
    cursor: pointer;
}

.button--setting:hover{
    opacity: 0.8;
}

.button{
    bottom: 0;
    position:absolute;
    display: inline-flex;
}

.button-style{
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    border-width: 0px;
    font-size: 20px;
    transition: background-color ease 0.2s;
}

.button--start{
    background-color: rgb(19, 225, 101);
}

.button--start:hover{
    background-color: rgb(7, 138, 60);
    cursor: pointer;
}

.button--flip{
    background-color: rgb(182, 69, 170);
}

.button--flip:hover{
    background-color: rgb(151, 48, 140);
    cursor: pointer;
}

.display-status{
    float: left;
    margin-left: 250px;
    font-size: 20px;
    color: purple;
    background-color: #13bec7;
}
.turn-display{
    text-align: center;
}

.title-board{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title{
    width: 200px;
    height: 80px;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    background-color: rgba(141, 134, 134, 0.388);
    color: rgb(255, 255, 255);
    border: 10px ;
    border-style: solid;
    border-color: rgba(194, 218, 61,0.5);
    border-radius: 20px;
}

.game-board{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

body{
    background-image: url("image/1003800.jpg");
    background-size: cover;
}

.block{
    width: 50px;
    height: 50px;
    border: solid 1px black;
    box-sizing: border-box ;
}

#computer .block:hover{
    background-color: rgb(75, 122, 122);
    cursor: pointer;
}

.ships-container{
    width: 880px;
    top: 100px;
    right: 0px;
    position: absolute;
    display: none;
}

.container-icon{
    font-size: 50px;
    color: black;
    transition: opacity 0.2s ease;
}

.container-icon:active{
    color: red;
}

@keyframes optionContainerGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.option-container {
    width: 880px;
    height: 300px;
    background-color: rgba(60, 60, 60, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; z-index: 10;
    border: solid 10px linear-gradient(45deg, white, black) ;
    transform-origin: top right;
    animation: optionContainerGrowth 0.2s linear;
}

.container-icon:hover{
    opacity: 0.8;
}

.destroyer{
    background-image: url("image/destroyer.png");
}

.submarine{
    background-image: url("image/submarine.png");
}

.cruiser{
    background-image: url("image/cruiser.png");
}

.battleship{
    background-image: url("image/battleship.png");
}

.carrier{
    background-image: url("image/carrier.png");
}

.destroyer-preview{
    width: 100px;
    height: 50px;
    margin: 3px;
    background-position: contain;
    border: solid 1px black;
}

.submarine-preview{
    width: 150px;
    height: 50px;
    margin: 3px;
    background-position: contain;
    border: solid 1px black;
}

.cruiser-preview{
    width: 150px;
    height: 50px;
    margin: 3px;
    background-position: contain;
    border: solid 1px black;
}

.battleship-preview{
    width: 200px;
    height: 50px;
    margin: 3px;
    background-position: contain;
    border: solid 1px black;
}

.carrier-preview{
    width: 250px;
    height: 50px;
    margin: 3px;
    background-position: contain;
    border: solid 1px black;
}

.hover{
    background-color: grey;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-image: url("image/computerBlock.png");
}

#computer .destroyer:hover,
#computer .submarine:hover,
#computer .cruiser:hover,
#computer .battleship:hover,
#computer .carrier:hover {
    background-color:rgb(75, 122, 122);
    background-image: unset;
}


.boom{
    background-image: url("image/destroyedBlock.png") !important;
}

.empty{
    background-color: grey !important;
}

.player{
    position: absolute;
    margin: 0;
    width: 100%;
    height: calc(100% - 145px);
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 2;
    animation: playerTurnGrowth ease-in 1.5s ;
    transform-origin: right;
}

@keyframes playerTurnGrowth{
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

.Player-turn{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border: solid 10px rgba(255, 166, 0, 0.363);
    border-left: 0;
    border-right: 0;
}

.game-finish{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-content: center;
    transform-origin: right;
    animation: finishAnimation 0.2s ease-out;
    background-color: rgba(247, 247, 247, 0.527);

}

@keyframes finishAnimation {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.game-finish-win{
    background-color: rgba(58, 57, 56, 0.579);
    border: solid rgba(220, 216, 216, 0.564) ;
    padding: 50px;
    font-size: 50px;
    font-family: "Lucida Handwriting", serif;
    color: yellow;
    align-self: center;
}

.ship-sunk{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    top: 0;
    left: 0;
    animation: finishAnimation 0.2s ease-in-out;
}

#info{
    background-color: rgba(29, 25, 25, 0.54);
    font-size: 25px;
    border-radius: 50px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(132, 224, 224);
    font-weight: bold;
}
